:root {
    --ff-dmSans: 'DM Sans', sans-serif;
    --ff-rosario: 'Rosario', sans-serif;
    /* color  */
    --color-primary: #222222;
    --color-secondary: #555555;
    --color-black: #000000;
    --color-white: #ffffff;
    /* bg */
    --bg-main-color: #F3FBF8;
    --bg-green-lt: #09A66D;
    --bg-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    display: block;
}

/* .btn {
    border: none;
    outline: none;
    background: transparent;
} */
/* **************** */
header {
    margin-bottom: 10px;
}
.logoimg{
    height: 150px;
}
.logoimg > a > img{
   height: 100%;
}
.inbox{

}

.list {
    display: flex;
    margin: 10px auto;
    padding: 0;
}

.all_menu ul li {
    margin-right: 16px;
    display: flex;
    align-items: center;
}

.all_menu i {
    margin-right: 5px;
    font-size: 14px;
}

.it-btn {
    padding: 0;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    min-width: 230px;
    min-height: 100px;
}

.dropdown {
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 1px #cccccc;
}

.btn.show {
    border: none;
}

.all-menu-music {
    display: flex;
    align-items: center;
    margin-left: 5px;
    border-bottom: 1px dotted #ccc;

}

a {
    text-shadow: 1px 1px 1px #cccccc;
}

.all-menu-music>a:hover {
    color: #F26D00;
    background-color: white;
}

.dropdown .all_menu_shops2,
.all_menu_video2,
.all_menu_movies2,
.all_menu_video2,
.all_menu_movies2 {
    display: none;
}

.dropdown-menu>.all_menu_video2,
.all_menu_my2,
.all_menu_news2 {
    display: none;
}

.dropdown>.dropdown-menu>.all_menu_news22,
.all_menu_my22 {
    display: none;
}

.dropdown>.dropdown-menu>.all_menu_my22 {
    display: none;
}

.dropdown>.dropdown-menu>.all_menu_movies2 {
    display: none;
}

.dropdown>.it-btn>.all_menu_dd2 {
    display: none;
    font-size: 14px;

}

/* .logoimg{
    width: 296px;
    height: 68px;
    background-image: url(img/all_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
} */



@media (max-width: 992px) {
    .dropdown .all_menu_video2 {
        display: inline;
        display: flex;
    }

    .list .all_menu_video {
        display: none;
    }
}


@media (max-width: 768px) {
    .dropdown .all_menu_shops2 {
        display: inline;
        display: flex;
    }

    .dropdown .all_menu_movies2 {
        display: inline;
        display: flex;
    }

    .dropdown>.dropdown-menu>.all_menu_movies2 {
        display: inline;
        display: flex;
    }

    /* ** */


    .list .all_menu_shops {
        display: none;
    }

    .list .all_menu_movies {
        display: none;
    }

    .list .all_menu_shops {
        display: none;
    }

    .list .all_menu_movies {
        display: none;
    }
}

@media (max-width: 600px) {

    .dropdown .all_menu_shops2 {
        display: inline;
        display: flex;
    }

    .dropdown .all_menu_movies2 {
        display: inline;
        display: flex;
    }

    .dropdown>.dropdown-menu>.all_menu_news22,
    .all_menu_my22 {
        display: inline;
        display: flex;
    }

    .dropdown>.dropdown-menu>.all_menu_my22 {
        display: inline;
        display: flex;
    }

    .list .all_menu_my {
        display: none;
    }

    .list .all_menu_news {
        display: none;
    }

    .all_menu_dd1 {
        display: none;
    }

    .dropdown>.it-btn>.all_menu_dd2 {
        display: inline;
        display: flex;
        align-items: center;
    }

}

/* header  2  */
/* .chenge{
    display: flex !important; 
    justify-content: space-between !important;
    align-items: center !important;
} */
.chenge-inner {
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.tabs_news {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rate_h_b {
    display: flex;
}

.rate_h_bs {
    display: flex;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.rate_h_bs {
    margin: 18px 13px 0 0;
}

.rate_h_bs span {
    font-weight: 600;
    color: #000;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 14px;
}

.logo_text {
    float: right;
    margin: -32px 38px 0 0;
    font-size: 20px;
    position: relative;
    color: white;
}

.tabs_news {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rate_h_b {
    display: flex;
}

.weather_h_b {
    position: relative;
}

.weather_h_b11 {
    position: relative;
}

.weather_h_b img {
    width: 50px;
    height: 45px;

}

.weather_h_n {
    position: absolute;
    margin: 4px 0 0 0;
    font-weight: 500;
    color: red;
    text-shadow: 1px 1px 1px #ccc;
}

.weather_h_img {
    position: absolute;
    width: 35px;
    top: 10%;
    left: 23%;
}

.weather_h_info11 {
    position: absolute;
    top: 50%;
    left: 40%;
    font-weight: 600;
    text-shadow: 1px 1px 1px #ccc;
}

.data_time {
    float: right;
    padding: 0 16px 0 0;
    text-align: right !important;
}

.date_bs {
    float: right;
    max-width: 100%;
    margin: -5px 0 0 0;
    font-size: 13px;
    color: #000;
    text-shadow: 1px 1px 1px #ccc;
}

.online {
    margin: 13px 0 10px 0;
    font-size: 13px;
    color: #000;
    text-shadow: 1px 1px 1px #ccc;
}

@media (max-width: 992px) {
    .weather_h_img {
        position: absolute;
        width: 33px;
        top: 10%;
        left: 27%;
    }
}

@media (max-width: 767px) {
    .logo_text {
        float: right;
        margin: -58px 70px 0 0;
        font-size: 36px;
    }
}

@media (max-width: 600px) {
    .logo_text {
        font-size: 30px;
        margin: -48px 54px 0 0;
    }
}

@media (max-width: 411px) {
    .logo_text {
        font-size: 30px;
        margin: -42px 46px 0 0;
    }
}

@media (min-width: 360px) {
    .logo_text {
        margin: -36px 44px 0 0;
        font-size: 24px;
    }
}

@media (min-width: 320px) {
    .logo_text {
        margin: -34px 40px 0 0;
        font-size: 22px;
    }
}

@media (min-width: 240px) {
    .logo_text {
        margin: -26px 30px 0 0;
        font-size: 18px;
    }
}

@media (max-width: 240px) {
    .logo_text {
        display: none;
    }
}

/* section  *************************** */
.gainsboro {
    /* background-color: #bda5a5; */
}
@media (max-width: 768px){
    .gainsboro{
        /* display: none; */
        height: 800px;
    }
}
.banner1{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}
.inerBanner{
    width: 100%;
    height: 100%;  
    align-items: center; 
    background-image: url(./img/aw.jpg);
    background-repeat: no-repeat;

}

@media (max-width: 1024px) {
    .banner{
        height: 1000px;
    }
}
@media (max-width: 800px) {
    .banner{
        height: 800px;
    }
}
@media (max-width: 720px) {
    .banner{
        height: 800px;
    }
}
@media (max-width: 620px) {
    .banner{
        height: 750px;
    }
}
@media (max-width: 570px) {
    .banner{
        height: 620px;    
    }
}
@media (max-width: 500px) {
    .banner{
        height: 670px;   
    }
}
@media (max-width: 470px) {
    .banner{
        height: 650px;   
    }
}

.logoWrapper{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}
.logoWrapper > .img {
    width: 35%;
    height: 60px;
    background-image: url(./img/Logo2222.png);
    color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.text_contener{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 220%;
    font-weight: 1000;
    height: 15%;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 30%;
    color: white;
    position: relative;
    z-index: 3;
}
.perspectiv{
    height: 100px;
    overflow: hidden;
  
}
.perspectiv > h3{
    margin: 0;
    /* padding-bottom: 50px; */
    height: 100px;
    line-height: 50px;
    transition: all 2s ease-in-out;
    animation:  moveText 4s infinite;
}
@keyframes moveText{
    0%{transform: translate(0, -300px);}
}
.perspectiv:hover h3{
    /* transform: translate(0, -50px); */
    color: #EC56DB;
}
.favorites{
    text-align: center;
    animation: animate 5s infinite;
    display: none;
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.favorites > h4{
    font-size: 120%;
}
.add{
    font-size: 120%;
    background-color: rgb(133, 228, 104);
    border-radius: 3px;
    border: none;
    
}
.add::after{
    content: "Узнать Больше";    
}

@keyframes animate {
    0%{   font-size: 0%; }

    50%{ font-size: 120%; }
    
    100%{ font-size: 0%;}
}
/* fons */
.fons{
    width: 90%;
    height: 80%;
    position: absolute;
    bottom: -15%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.fons_bottom{
    position: absolute;
    width: 80%;
    height: 25%;
    bottom: 2%;
    right: 10%;
    background-image: url(./img/tak1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.luys_axpyur{
    width: 100%;
    height: 100%;
    background-image: url(./img/luysiaxbyur.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    transition: all 5s ease-out;
}
.luys{
    width: 30%;
    height:90%;
    background-image: url(./img/luys.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 35%;
    right:35%;
    z-index: 1;
    animation: moving_luys linear  infinite;
    animation-duration: 9s;
    animation-delay: 5s;
}

@keyframes moving_luys{
    0%{height:90%;}
    50%{height:0%;}
    100%{height:90%;}
}
.circle1{
    width: 100%;
    height: 100%;
    background-image: url(./img/mejtex2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    top: -35%;;
    z-index: 1;
    animation: moving_bottom linear infinite;
    animation-duration: 8s;
    /* animation-delay: 3s; */
}
@keyframes moving_bottom{
    0%{top: 2%;}
    25%{top: -35%;}
    50%{top: 2%;}
    75%{top: -35%;}
    100%{top: 2%;}
}

.circle2{
    width: 100%;
    height:100%;
    background-image: url(./img/verev3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    top: -60%;
    z-index: 1;
    animation: moving_bottom2 linear infinite;
    animation-duration: 8s;
    /* animation-delay: 3s; */
}
@keyframes moving_bottom2{
    0%{top: 2%;}
    25%{top: -60%;}
    50%{top: 2%;}
    75%{top: -60%;}
    100%{top: 2%;}
}
.layer_left{
    width: 50%;
    height:40%;
    position: absolute;
    bottom: 10%;
    z-index: 1;
}
.layer_left1{
    width: 60%;
    height:60%;
    background-image: url(./img/Layer_left1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    z-index: 1;
}
.layer_left2{
    width: 60%;
    height:60%;
    background-image: url(./img/Layer_left2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    left: 10%;
    bottom: 20%;
}
/* layer_right */
.layer_right{
    width: 41%;
    height: 36%;
    position: absolute;
    right: 0;
    bottom: 13%;
    z-index: 2;
}
.layer_right1{
    width: 74%;
    height: 65%;
    background-image: url(./img/Layer_right1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    left: 25%;
    z-index: 3;
}
.layer_right_git1{
    width: 2%;
    height: 28%;
    background-color: #EC56DB;
    position: absolute;
    left: 30%;
    bottom: 5%;
    z-index: 2;
}
.layer_right_circle1{
    width: 30%;
    height: 30%;
    background-image: url(./img/Layer_right_circle1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    bottom: 18%;
    left: 33%;
}
.layer_right_circle2{
    width: 30%;
    height: 30%;
    background-image: url(./img/Layer_right_circle2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    bottom: 18%;
    left: 50%;
}
.layer_right_circle3{
    width: 30%;
    height: 30%;
    background-image: url(./img/Layer_right_circle3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    bottom: 18%;
    left: 63%;
}



/* section 2 end  banner*/
.login_b {
    padding: 0;
}

.card {
    padding: 5px;
}

.login_off {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.formLable {
    margin-bottom: 8px;
}

.form-group {
    margin-bottom: 16px;
}

.newrow {
    display: flex;
    justify-content: space-between;
}

.col222 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.coltextRight {
    text-align: right;
}

.menu1 {
    margin-bottom: 10px;
}

.menu1 ul {
    padding: 0;
    margin-bottom: 16px;
}

.menu1 ul li {
    line-height: 1.5;
}

.weather,
.rate {
    display: none;
    margin-bottom: 5px;
}

.weather_b {
    display: flex;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.weather_n {
    margin: 16px 0 0 20px;
    font-weight: 500;
    color: red;
    text-shadow: 1px 1px 1px #ccc;
    position: relative;
}

.weather_img {
    max-width: 50px;
    overflow: hidden;
    position: relative;
}

.weather_info {
    max-width: 100px;
    font-weight: 700;
    text-shadow: 1px 1px 1px #ccc;
    position: relative
}

@media (max-width: 767px) {

    .weather,
    .rate {
        display: block;
    }
}

.rate_b {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.rate_bs {
    margin: 0 13px 0 0;
}

.rate_bs i {
    font-size: 18px;
    color: #000;
    text-shadow: 1px 1px 1px #ccc;
}

.rate_bs span {
    font-weight: 500;
    color: #000;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 14px;
    position: relative;
}

@media (max-width: 767px) {
    .bux {
        display: none;
    }
}

.bux_t {
    width: 100%;
    margin: 0 0 5px 0;
    padding: 0 0 2px 0;
    font-size: 17px;
    color: #000;
    text-shadow: 1px 1px 1px #ccc;
    border-bottom: 1px solid #ccc;
}

.bux_bs {
    min-width: 100%;
    display: flex;
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px dotted #ccc;
}

.bux .img {
    width: 33%;
    height: 80px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
}

.bux_text {
    text-align: left;
    max-width: 63%;
    height: 68px;
    margin: 0 0 0 5px;
    padding: 0;
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
}

.music_bt {
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
    font-size: 17px;
    color: #000;
    text-shadow: 1px 1px 1px #ccc;
    border-bottom: 1px solid #ccc;
}

.music_bt i {
    margin: 0 5px 0 0;
}

.music_bs {
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px dotted #ccc;
}

.music_bs a {
    text-shadow: 1px 1px 1px #cccccc;
}

.music_bs i {
    float: left;
    max-height: 20px;
    margin: 3px 10px 0 0;
}

.music_bs i {
    float: left;
}

@media (max-width: 767px) {
    .music {
        display: none;
    }
}

/* footer */

.footer_b {
    display: flex;
    height: 30px;
    margin: 0;
    padding: 4px 0 0 0;
    font-size: 13px;
    color: #000;
    text-shadow: 1px 1px 1px #ccc;
    border-top: 1px solid #ccc;
}

.footer_copyr {
    float: left;
}

.footer_link {
    float: right;
    text-align: right;
}




